.register_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    color: rgb(208, 214, 219);
    margin-top: 100px;
}
.register_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 400px;
    height: 300px;
    box-shadow: 1px 1px 20px #DD8511;
    border-radius: 6px;
    margin-top: 20px;
}
.label{
    display: flex;
    justify-content: space-between;
    max-width: 275px;
    width: 100%;
    color: rgb(208, 214, 219);
    font-weight: 500;
}
.input{
    background-color: inherit;
    color: rgb(208, 214, 219);
    border-radius: 5px;
}
.btn{
    background-color: #DD8511;
    color: black;
    padding: 5px;
    max-width: 70px;
    width: 100%;
    border-radius: 5px;
    font-weight: 600;
}