.wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.list{
    list-style: none;
    font-weight: 500;
}
.btn{
    border-radius: 10px;
    border-color: black;
    background-color: rgb(233, 85, 85);
    margin-left: 10px;
    cursor: pointer;
}